.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 112px 263px 120px;
  min-height: 472px;
  font-family: var(--font-primary);
}

.contact-bg__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--bg-body);
}

.contact-bg__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-info {
  color: var(--white);
}

.contact-info__img {
  display: inline-block;
  margin-bottom: 32px;
  width: 142px;
  height: 56px;
}

.contact-info__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.contact-info__text {
  max-width: 500px;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.56;
}

@media (max-width: 1077px) {
  .contact {
    padding: 112px 32px 120px;
    min-height: 466px;
  }
  .contact-info__text {
    max-width: 500px;
  }
}

@media (max-width: 610px) {
  .contact-info__img {
    margin-bottom: 22px;
  }
  .contact-info__title {
    font-weight: 500;
    font-size: 18px;
  }
  .contact-info__text {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 297px;
  }
  .contact-info__img {
    align-self: center;
  }
  .contact-info__title {
    align-self: flex-start;
  }
}
