.header {
  min-height: 72px;
  font-family: var(--font-primary);
  background-color: var(--dark-gray);
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
}

.header-left {
  display: flex;
  align-items: center;
  column-gap: 84px;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 126px;
  height: 15px;
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.nav-list__link {
  font-size: 16px;
  color: var(--white);
  transition: 0.2s ease-in;
}

.nav-list__link:hover {
  color: #ddbca3;
}

.header-right {
  display: flex;
  align-items: center;
  column-gap: 56px;
  font-size: 16px;
}

select {
  outline: none;
  color: var(--white-70);
  cursor: pointer;
}

option {
  outline: none;
  background-color: var(--dark-gray);
}

.tel {
  position: relative;
  color: var(--white-70);
}

.tel::before {
  content: url("./../../img/icons/phone.svg");
  display: block;
  position: absolute;
  top: 0px;
  left: -25px;
}

.signin {
  position: relative;
  color: var(--white-70);
}

.signin::before {
  content: url("./../../img/icons/signin.svg");
  display: block;
  position: absolute;
  top: 1px;
  left: -26px;
}

@media (max-width: 1130px) {
  .header-row {
    padding-right: 11px;
    padding-left: 11px;
  }
  .header-right {
    column-gap: 40px;
  }
  .header-left {
    column-gap: 55px;
  }
  .header-right select {
    margin-right: 0;
  }
}

@media (max-width: 1040px) {
  .header-links,
  .header-right select,
  .signin {
    display: none;
  }
  .header-right {
    column-gap: 30px;
  }
}
