.header {
  font-family: var(--font-primary);
  background-color: var(--bg-header);
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
}

.header-left {
  display: flex;
  align-items: center;
  column-gap: 84px;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 126px;
  height: 15px;
}

.header-links {
  display: flex;
  column-gap: 24px;
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.nav-list__link {
  font-size: 16px;
  color: var(--white);
  transition: 0.2s ease-in;
}

.nav-list__link:hover {
  color: var(--accent);
}

.header-right {
  display: flex;
  align-items: center;
  column-gap: 56px;
  font-size: 16px;
}

select {
  outline: none;
  color: var(--white-70);
  cursor: pointer;
}

option {
  outline: none;
  background-color: var(--bg-header);
}

.tel {
  position: relative;
  color: var(--white-70);
}

.tel::before {
  content: url("./../../img/icons/phone.svg");
  display: block;
  position: absolute;
  top: 0px;
  left: -24px;
}

.signin {
  position: relative;
  color: var(--white-70);
}

.signin::before {
  content: url("./../../img/icons/signin.svg");
  display: block;
  position: absolute;
  top: 1px;
  left: -26px;
}
