.mobile-nav {
  display: none;

  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  max-width: 420px;
  width: 100%;
  height: calc(100vh - 72px);
  font-family: var(--font-primary);
  background-color: #2d2d2f;

  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  row-gap: 50px;
  padding: 38px 30px;
  overflow: hidden;

  animation: ani 0.5s forwards;
  transition: all 0.5s ease-in;
}

@keyframes ani {
  0% {
    transform: translateX(420px);
  }
  50% {
    transform: translateY(0);
  }
}

.mobile-nav.active {
  display: flex;
}

.mobile-nav-list {
  font-weight: 700;
  font-size: 24px;
}

.mobile-nav-items {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.mobile-nav-list li a {
  color: var(--white-70);
  transition: all 0.3s ease-in;
}

.mobile-nav-list li a:hover {
  color: var(--white);
}

.mobile-footer {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.mobile-footer__contact {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.mobile-footer__contact a {
  padding-left: 32px;
}

.mobile-tel {
  position: relative;
  color: var(--white-70);
}

@media (max-width: 1040px) {
  .wrapper {
    opacity: 1;
  }
  .mobile-tel:before {
    content: url("./../../img/icons/phone.svg");
    display: block;
    position: absolute;
    top: 0px;
    left: 7px;
  }
}
