:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Oxygen", sans-serif;
  --accent: #b68867;
  --accent-light: #c5a085;
  --dark-gray: #1e1e20;
  --bg-body: #121214;
  --white: #fefeff;
  --white-70: #bdbdbe;
  --white-50: #919192;
  --white-30: #656566;
  --white-20: #4f4f51;
  --white-10: #39393b;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-body);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.overflow {
  overflow: hidden;
}

.none {
  display: none !important;
}

.container {
  width: 1494px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  position: relative;
  flex-grow: 1;
  margin-bottom: 120px;
}

.header-container {
  width: 1870px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1869px) {
  .header-container {
    width: 100%;
  }
}

@media (max-width: 1493px) {
  .container {
    width: 100%;
  }
}
