:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Oxygen", sans-serif;
  --accent: #b68867;
  --accent-light: #c5a085;
  --dark-gray: #1e1e20;
  --bg-body: #121214;
  --white: #fefeff;
  --white-70: #bdbdbe;
  --white-50: #919192;
  --white-20: #4f4f51;
  --white-10: #39393b;
}

body {
  height: 100%;
  overflow-x: hidden;
  background-color: var(--bg-body);
}

.none {
  display: none;
}

.header-container {
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1494px;
  margin: 0 auto;
  padding: 0 15px;
}
